<html>
    <head>
    <link href="https://fonts.googleapis.com/css?family=Orbitron" rel="stylesheet">
    <link rel="stylesheet" type="text/css" href="/css/main.css">
    <link rel="stylesheet" type="text/css" href="/css/mainME.css">
    <link href="https://fonts.googleapis.com/css?family=Cinzel" rel="stylesheet">
        <meta charset="UTF-8"/>
    </head>

  <body>

    <div id="main">
      <div class="container">
          <div class="container__item landing-page-container">
              <div class="content__wrapper">
                  <header style="" class="header">
                    <div id="mySidenav" class="sidenav">
                      <a href="javascript:void(0)" class="closebtn" onclick="closeNav()">&times;</a>
                      <a href="/">Home</a>
                      <a href="about">About</a>
                      <a href="trending">Trending Music</a>
                      <a href="topartist">Top Artists</a>
                      <div></div>
                      
                    </div>
                  <span onclick="openNav()"></span>

                    <div onclick="openNav()" class="menu-icon header__item">                      
                        <span  class="menu-icon__line"></span>
                    </div>


                  </header>
                  

                  <div class="scroller">
                      <p class="page-title">Home</p>

                      <div class="timeline">
                          <span class="timeline__unit"></span>
                          <span class="timeline__unit timeline__unit--active"></span>
                          <span class="timeline__unit"></span>
                      </div>
                  </div>


                  
                 <div class="main_img_outer">
                    <div class="main_img_inner">
                        <a>
                        <img src="./img/jstc_mag_logo.png">
                        </a>
                    </div>
                        <div class="ellipses ellipses__outer--thin">
                            <div class="ellipses ellipses__orbit"></div>
                            </div>
                        <div class="ellipses ellipses__outer--thick"></div>
                 </div>

                

                  
              </div>
          </div>
      </div>

        </body>
  <script src="/scripts/app.js" type="text/javascript"></script>
</html>